.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  padding: 10px;
  border-radius: 8px;
  text-align: center;

  &:hover {
    border: 2px solid var(--color-green-02);
    transform: scale(1.03);
    background-color: var(--color-green-01);
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    align-items: center;

    &__title {
      font-size: 22px;
      padding-top: 10px;
      font-family: Merriweather-Regular, serif;
      font-weight: 600;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
    }

    &__line {
      margin: 10px 0;
      height: 1px;
      width: 100%;
      border-radius: 10px;
      background-color: var(--color-gray-02);
    }

    &__description {
      font-size: 18px;
      font-family: OpenSans-Regular, sans-serif;
      line-height: 40px;
      text-align: center;
      padding-bottom: 20px;
    }
  }

  &__moveTo-button {
    align-self: center;
    margin-top: auto;
    width: 250px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .service-card {
    &__info {
      &__icon {
        width: auto;
        height: auto;
      }
      &__title {
        font-size: 20px;
      }
      &__description {
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 0;
      }
    }
  }
}