.routes-catalog {
  display: flex;
  flex-direction: column;
  padding: 50px 75px;
  gap: 50px;

  &__title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}