.routes-catalog {
  display: flex;
  flex-direction: column;
  padding: 50px 75px;
  gap: 50px;

  &__title {
    font-family: Merriweather-Regular, serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .routes-catalog {
    padding: 20px 20px 0 20px;
    gap: 30px;

    &__title {
      font-size: 30px;
    }

    &__list {
      gap: 20px;
    }
  }
}