:root {
  --color-gray-01: #D9D9D9;
  --color-gray-02: #6B7280B5;
  --color-gray-03: #f3f3f3;
  --color-gray-04: #f1efef;
  --color-gray-05: #e3e3e3;
  --color-gray-06: #D9D9D966;
  --color-gray-07: #505050;
  --color-gray-08: #B5B5B5;
  --color-gray-09: #F2F2F6;

  --color-white: #ffffff;

  --color-black: #000000;


  --color-about-proj-font: #fdfbf4;
  --color-brown-01: #46362f;
  --color-brown-02: #482704;
  --color-orange-01: #DAA520;
  --color-orange-02: #fdf4e7;
  --color-orange-03: #fcd5b4;

  --color-green-01: #E7F4E280;
  --color-green-02: rgba(23, 108, 14, 0.5);
  --color-green-03: #ebf5e5;
}