.route {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 50px 105px;
  font-size: 24px;

  &__header {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--color-orange-01);
    border-radius: 12px;
    background-color: var(--color-orange-02);
    box-shadow: 2px 2px 2px var(--color-gray-09);
    transition: all 0.3s ease;

    &__photo {
      display: flex;
      background-color: var(--color-gray-03);
      border-radius: 8px;
      width: 250px;
      height: 220px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      &__title {
        font-size: 24px;
        font-family: Merriweather-Regular, serif;
        font-weight: 600;
      }

      &__size,
      &__duration {
        font-size: 20px;
      }

      &__rating {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }

  &__route-info {
    display: flex;
    flex-direction: column;
    gap: 60px;

    &__list-title {
      font-family: Merriweather-Regular, serif;
      font-size: 32px;
      font-weight: 600;
      text-align: center;
    }

    &__points-list {
      display: flex;
      flex-direction: column;
      gap: 30px;

      &__point {
        margin: 0 100px;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        padding: 10px;
        border: 2px solid var(--color-gray-05);
        border-radius: 12px;
        box-shadow: 2px 2px 2px var(--color-gray-09);

        &:hover {
          transform: scale(1.01);
          box-shadow: 2px 4px 4px var(--color-gray-08);
          border: 2px solid var(--color-green-02);
          background-color: var(--color-green-01);
        }

        &__number-container {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid var(--color-orange-01);
          border-radius: 50%;
          width: 60px;
          height: 60px;

          &__number {
            color: var(--color-orange-01);
          }
        }

        &__title {
          font-family: OpenSans-Regular, sans-serif;
          color: var(--color-orange-01);
        }
      }
    }

    &__route-map {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      &__title {
        font-family: Merriweather-Regular, serif;
        font-size: 32px;
        font-weight: 600;
      }

      &__map {
        cursor: pointer;
        border-radius: 20px;
        border: 2px solid var(--color-gray-08);
        transition: all 0.3s ease;

        &:hover {
          border: 2px solid var(--color-green-02);
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .route {
    padding: 20px 20px 0 20px;
    gap: 30px;

    &__header {
      gap: 20px;
      text-align: center;

      &__photo {
        display: none;
      }

      &__info {
        gap: 10px;
        justify-content: center;
        align-items: center;

        &__title {
          font-size: 24px;
        }

        &__size,
        &__duration {
          font-size: 18px;
        }

        &__rating {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }
      }
    }

    &__route-info {
      gap: 30px;

      &__list-title {
        font-size: 26px;
      }

      &__points-list {
        gap: 15px;

        &__point {
          margin: 0;

          &__number-container {
            width: 35px;
            height: 35px;
            font-size: 20px;
          }

          &__title {
            font-size: 18px;
          }
        }
      }

      &__route-map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &__title {
          font-family: Merriweather-Regular, serif;
          font-size: 32px;
          font-weight: 600;
        }

        &__map {
          cursor: pointer;
          border-radius: 8px;
          border: 2px solid var(--color-gray-08);
          transition: all 0.3s ease;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}